<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <!-- librerias-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css"
    <!-- Styles-->
    <link rel="stylesheet" href="/css/styles.css" >
       
</head>

<body>
    <header>
        <picture class="widtht" alt="logo">
                <img src="images/logo-mercado-liebre.svg" alt="LogoDeMercadolibre">
        </picture>
        <form class="widtht" id="find" action="/login" method="POST" >
            <input type="text" name="finds" id="finds" placeholder="Buscar,productos,marcas y más"><button class="fa-solid fa-magnifying-glass" type="submit"></button>
        </form>
        <section class="widtht" id="cuotas">
            <i class="fa-solid fa-hand-holding-dollar"> </i><i><h3 id="tag1">Comprá en cuotas y sin tarjeta de crédito</h3></i>
        </section >
        <nav class="nbarflex">
                <ul id="lstbar1" type="none">
                    <li> <a href="/">Ofertas</a> </li>
                    <li> <a href="/">Tiendas Oficiales</a> </li>
                    <li> <a href="/">Vender</a> </li>
                    <li> <a href="/">Ayuda</a> </li>
                </ul>
                <ul id="lstbar2" type="none">
                    <li> <a href="/register.html">Creá tu cuenta  </a><i class="fa-regular fa-id-card"></i></li>
                    <li> <a href="/login.html">Ingresá  </a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                    <li> <a href="/">Mis compras  </a> <i class="fa-solid fa-basket-shopping"></i> </li>
                </ul>
        </nav>
        <section class="bmenu">
            <i class="fa-solid fa-bars"></i>
        </section>

    </header>

    <main>
        <div class="banner">
            <picture>
                <img src="images/img-home-banner.jpg" alt="bannerhome" style="
                box-sizing: border-box;">
            </picture>
        </div>
        <section class="ultimaVisita">
            <h3>Basado en tu última visita</h3>
                <div class="product">
                    <article class="producto">
                        <section>
                            <article class="tag2">
                                <picture class="a">
                                    <img src="images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" style="
                                    box-sizing: border-box;">
                                </picture>
                            </article>
                            <article class="cont">
                                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                                <ul  class="desc" type='none'>
                                    <li class="precio">$6.770</li>
                                    <li class="descuento">40% Off</li>
                                    <li class="descripcion">Cafetera Moulinex</li>
                                </ul>
                            </article>
                        </section>
                    </article>

                    <article class="producto">
                        <section>
                            <article>
                                <picture class="a">
                                    <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                                </picture>
                            </article>
                            <article class="cont">
                                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                                <ul  class="desc" type='none'>
                                    <li class="precio">$230.000</li>
                                    <li class="descuento">20% Off</li>
                                    <li class="descripcion">MacBook Pro 2019</li>
                                </ul>
                            </article>
                        </section>
                    </article>

                    <article class="producto">
                        <section>
                            <article>
                                <picture class="a">
                                    <img src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                                </picture>
                            </article>
                            <article class="cont">
                                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                                <ul class="desc" type='none'>
                                    <li class="precio">$70.500</li>
                                    <li class="descuento">10% off</li>
                                    <li class="descripcion">Samsung Galaxy S10</li>
                                </ul>
                            </article>
                        </section>
                    </article>  

                    <article class="producto">
                        <section>
                            <article>
                                <picture class="a">
                                    <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                                </picture>
                            </article>
                            <article class="cont">
                                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                                <ul class="desc" type='none'>
                                    <li class="precio">$23.200</li>
                                    <li class="descuento">5% off</li>
                                    <li class="descripcion">SmartTv Samsung 43"</li>
                                </ul>
                            </article>
                        </section>
                    </article>
                </div>
        </section>

        <section class="Ofertas">
            <h3>Ofertas</h3>
                <div class="product">
                    <article class="producto">
                        <section>
                            <article>
                                <picture class="a">
                                    <img src="images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                                </picture>
                            </article>
                            <article class="cont">
                                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                                <ul class="desc" type='none'>
                                    <li class="precio">$6.770</li>
                                    <li class="descuento">40% off</li>
                                    <li class="descripcion">Cafetera Moulinex</li>
                                </ul>
                            </article>
                        </section>
                    </article>
    
                    <article class="producto">
                        <section>
                            <article>
                                <picture class="a">
                                    <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                                </picture>
                            </article>
                            <article class="cont">
                                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                                <ul class="desc" type='none'>
                                    <li class="precio">$230.000</li>
                                    <li class="descuento">20% Off</li>
                                    <li class="descripcion">MacBook Pro 2019</li>
                                </ul>
                            </article>
                        </section>
                    </article>

                    <article class="producto">
                        <section>
                            <article>
                                <picture class="a">
                                    <img src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                                </picture>
                            </article>
                            <article class="cont">
                                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                                <ul class="desc" type='none'>
                                    <li class="precio">$70.500</li>
                                    <li class="descuento">10% off</li>
                                    <li class="descripcion">Samsung Galaxy S10</li>
                                </ul>
                            </article>
                        </section>
                    </article>  

                    <article class="producto">
                        <section>
                            <article>
                                <picture class="a">
                                    <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                                </picture>
                            </article>
                            <article class="cont">
                                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                                <ul class="desc" type='none'>
                                    <li class="precio">$23.200</li>
                                    <li class="descuento">5% off</li>
                                    <li class="descripcion">SmartTv Samsung 43"</li>
                                </ul>
                            </article>
                        </section>
                    </article>
                </div>
        </section>
    </main>

    <footer>
        <section class="">
            <i class="fa-solid fa-credit-card iconf"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro! </p>
        </section>

        <section>
            <i class="fa-solid fa-gift iconf"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos</p>
        </section>

        <section>
            <i class="fa-solid fa-user-shield iconf"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

        <div>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>

</body>

</html>